/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between; /* Space between left and right sections */
  align-items: center;
  background-color: #007bff; /* Blue background */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Left section (Home, Teams, Players, Matches) */
.navbar-left {
  flex: 7; /* Takes 70% of the space */
  display: flex;
  margin-left: 40px;
  justify-content: flex-start;
  gap: 15px; /* Space between links */
}

/* Right section (Login, Register) */
.navbar-right {
  flex: 3; /* Takes 30% of the space */
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  gap: 15px; /* Space between links */
}

/* Navbar links */
.navbar-link {
  color: #fff; /* White text */
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Hover effect for links */
.navbar-link:hover {
  color: #0f0f0f; /* Yellow on hover */
}
.admin-dropdown {
  position: relative;
  display: inline-block;
}

.admin-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.admin-dropdown:hover .admin-dropdown-content {
  display: block;
}

.admin-dropdown-content .navbar-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.admin-dropdown-content .navbar-link:hover {
  background-color: #f1f1f1;
}