.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.description {
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.input-with-icon {
  position: relative;
}
.input-with-icon input{
  flex: 1;
  padding: 8px;
  margin-top: 5px;
}
.input-with-icon button {
  padding: 8px;
  margin-left: 10px;
  background: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.input-with-icon button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  outline: none;
}
.onclick:focus{
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
